{% extends 'base.html' %}
{% block title %}PerfectShoes - Envíos a todo el mundo 🛍️{% endblock title %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="carousel-container" id="carrusell">
        <div class="carousel-slide">
            <img src="{% static 'img/slides/products-nike-boots-shoe-wallpaper-preview.jpg' %}" alt="Imagen 1">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/slides/16641017879724.webp' %}" alt="Imagen 2">
        </div>
        <div class="carousel-slide">
            <img src="{% static 'img/slides/adidas-shoes-sneakers-sport-wallpaper-preview.jpg' %}" alt="Imagen 3">
        </div>
    </div>
</main>

<section class="pagos">
    <h3>NUESTROS MEDIOS DE PAGO:</h3>
    <div class="medios-pagos-container">
        <div class="medio-pagos">
            <div class="medio-pagos-img-container medium">
                <img src="{% static 'img/iconos/credit-card (1).png'%}" class="medio-pagos-img" style="width: 10vw; height:20vh;">
                <span>Todas las tarjetas de Debito</span>
            </div>
        </div>
        <div class="medio-pagos">
            <div class="medio-pagos-img-container medium">
                <img src="{% static 'img/iconos/credit-card.png'%}" class="medio-pagos-img" style="width: 10vw; height:20vh;">
                <span>Todas las tarjetas de credito</span>
            </div>
        </div>
        <div class="medio-pagos">
            <div class="medio-pagos-img-container medium">
                <img src="{% static '/img/iconos/cash.png' %}" style="width: 10vw; height:20vh;" class="medio-pagos-img"></img>
                <span>Paganos en efectivo</span>
            </div>
        </div>
    </div>
</section>

<section class="novedades-container">
    <div class="novedades-title">
        <h2>NOVEDADES</h2><a href="{% url 'productos' %}" class="more-productos">Más productos</a>
    </div>
    
    <div class="novedades-productos">
        <section class="card-container">
            {% for x in zapatillas %}
            <div class="product">
                <img src="{{ x.imagen }}" alt="{{ x.nombre }}">
                <h3>$ {{ x.precio }}</h3>
                <p style='color:black'>{{ x.nombre }}</p>
                <i class="add-to-cart fas fa-cart-shopping"></i>
                <button class="add-to-fav"><i class="fas fa-heart"></i></button>
            </div>
            {% endfor %}
        </section>
    </div>
</section>
{% endblock content %}
