{% load static %}
<div class="h-cont">
    <div class="header-container">
        <header>
            <a href="{% url 'inicio' %}"><img src="{% static 'img/logo/logo-removebg-preview.png' %}" alt="Logo" class="logo"></a>
        </header>
        <div id="modal-bg-gradient"></div>
        <a class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </a>
    <nav class="nav-container" id="app">
        <ul class="nav-links" >
            <li><a href="{% url 'inicio' %}" class="nav-link">Inicio</a></li>
            <li><a href="#" class="nav-link">Recomendados</a></li>
            <li><a href="#" class="nav-link">Categorías</a></li>
            <li><a href="{% url 'productos' %}" class="nav-link">Productos</a></li>
            <form class="search" id="search-form">
                <input type="search" name="search" type="text" id="search-input" placeholder="Buscar...">
                <span class='search-btn'><i class="fas fa-search"></i></span>
            </form>
            <div id="search-results-container">
                <div id="search-results">
                </div>
            </div>
            <li>
                <div class="heart-count-container">
                    <div class="heart-flex-content">
                        <i class="fas fa-heart"></i>
                        <span class="heart-count">0</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="cart-container">
                    <a href="#">
                        <i class="fas fa-cart-shopping" id="openCartModal"></i>
                        <span class="cart-count">0</span>    
                    </a>  
                </div>
            </li>
            <div class="login-user">
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
        </ul>
    </nav>
    </div>
</div>